<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>All Books</title>
</head>

<body th:fragment="books">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Books </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Title </th>
                    <th> Author </th>
                    <th> Available </th>
                    <th> Reader </th>
                </tr>
                </thead>
<!--                <tbody th:action="get" th:href="/books" th:object="${books}">-->
                <tr th:each="book : ${books}">
                    <td><span th:text="${book.title}"> Title </span></td>
                    <td><span th:text="${book.author}"> Author </span></td>
                    <td><span th:text="${book.available}"> Available </span></td>
                    <td><span th:text="${book.reader.name}"> Reader </span></td>

                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" th:method="post" href="#" th:href="@{/books}"> Add Books </a>
        </div>
    </div>
</div>
</body>
</html>