<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Deliver</title>
</head>

<body th:fragment="deliverpost">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Type delivery address </h1>
        </div>
    </div>

    <form class="btn btn-info" action="#" th:action="@{/deliverystatus}" method="get" modelAttribute="deliveryEmail" th:object="${deliverystatus}">
        <label>
            <input id="email" placeholder="email" type="email" th:name="email"/>
        </label>
        <input type="submit">
    </form>

</div>


</body>
</html>