<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Binding a List in Thymeleaf</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div>

    <form class="btn btn-info" action="#" th:action="@{/delivery}" method="post">

        <label for="delivery-select"></label>
        <select name="delivery" id="delivery-select">
            <option value="">--Please choose an option--</option>
            <option value="post">By post</option>
            <option value="email">By email</option>
            <option value="personal">Personal receiving</option>
        </select>
        <input type="submit">
    </form>

</div>
</body>
</html>