<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>Binding a List in Thymeleaf</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">
</div>

<div class="container">
    <a class="btn btn-info" href="#" th:action="get" th:href="@{/books}"> Books List </a>
</div>

<form class="btn btn-info" action="#" th:action="@{/readers}" th:field="${readerId}" method="get">
    <label>
        <a><input type="text" th:name="readerId"/> Find reader by Id
        </a>
    </label>
</form>
<div>
<form class="btn btn-info" action="#" th:action="@{/readers}" method="post" modelAttribute="reader" th:object="${reader}">
    <h2>Save new reader</h2>
    <label>
        <input id="name" placeholder="name" type="text" th:name="name"/>
        <input id="surname" placeholder="surname" type="text" th:name="surname"/>
        <input id="email" placeholder="email" type="text" th:name="email"/>
    </label>
        <input type="submit">
</form>
</div>

<!--borrow book-->
<div>
    <h1>BORROW BOOK</h1>
    <form class="btn btn-info" action="#" th:action="@{/books}" method="post">
    <h2>Type title of the book</h2>
        <label th:field="title">
            <input id="title" placeholder="title" type="text" th:name="title"/>
        </label>
     <h2>Type reader/borrower identification</h2>
        <label>
            <input id="readerId" placeholder="id" type="number" th:name="readerId"/>
            <input id="readerName" placeholder="name" type="text" th:name="readerName"/>
            <input id="readerSurname" placeholder="surname" type="text"  th:name="readerSurname"/>
        </label>
        <input type="submit">
    </form>
</div>
<!---->

</body>
</html>